.note-wrap-collabsible {
  margin-bottom: 1.2rem 0;
}
.note-btn-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #A77B0E;
  background: #FAE042;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}
.note-btn-toggle:hover {
  color: #7C5A0B;
}
.note-btn-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}
.note-toggle:checked + .note-btn-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.note-collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.note-toggle:checked + .note-btn-toggle + .note-collapsible-content {
  max-height: 100%;
}
.note-content-inner{
  margin: 2%;
  text-align: center;
}

/* Form styles */
textarea {
  display: block;
  border-radius: 0.4rem;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  background: #fff;
  border: 1px solid #e60000;
}
 
form button {
  display: inline-block;
  margin: 2rem 1rem 0 0;
  height: 2rem;
}
#formNoteText{
  min-width: 400px;
}

#formAddButton {
  width: 6rem;
  margin-top: 15px;
  height: 25px;
  background-color: #e60000;
  color: #fff;
  border-radius: 0.4rem;
  border: 0;
  transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
}

#formAddButton:hover {
  cursor: pointer;
  background-color: green;
}


/* Note Styles */
#notes {
  margin: auto;
  width: 90%;

}

.note {
  max-width: 100%;
  height: 20rem;
  font-size: 1rem;
  background: #fff;
  border-radius: 6px;
  padding: 30px 20px 40px;
  margin: 10px 0 30px 0;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}

.note-text{
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 8px;
  text-align: left;
}

.note::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.8rem;
  border-radius: 0 0 0.4rem 0.4rem;
}
.note-text::first-line {
  font-weight: bold;
}

.note span {
  font-weight: 700;
  padding: 6px;
  margin: 10px;
  width: 30px;
  height: 30px;
  color: #e60000;
  border-radius: 4px;
}

.note span:hover {
  color: #fff;
  background: #e60000;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .note-content-inner{
    max-width: 100vw;
  }
  #formNoteText{
    min-width: 80vw;
  }
}

@media screen and (max-width: 300px) {
  #formNoteText{
    min-width: 90vw;
  }
}

@media screen and (max-width: 700px) and (min-width: 601px){
  #notes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b";
  }
  .note{
   margin: 12px;
  }
}

@media screen and (min-width:701px){
   #notes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b";
    max-width: 980px;
  }
  .note{
     margin: 16px;
   }
}